.clock {
    display:inline-block;
    background-color: rgba(36, 36, 36, 0.218);
    opacity: 80%;
    border-radius: 35px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px; /*40,50*/
    margin-left: -100px;
    margin-right: 70px;
    box-shadow: 1px 2px 2px 1px whitesmoke;
  }
  
  #date{
    font-size: 37px;
  }
  #date,#time {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 248, 248);
    text-shadow: 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000, 0 0 4px #000000;
  }  
  .clock p {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
  }
  
  .clock span {
    display: inline-block;
    width: 50%;
    
    font-weight: bold;
  }